<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Witaj na Friendoo- zaloguj się lub zarejestruj</title>
    <link rel="stylesheet" href="../styles/styles.css" th:href="@{styles/styles.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="index">
<div class="row res">
    <div class="fb-form res">
        <div class="card">
            <h1>Friendoo</h1>
            <p>Connect with friends and the world </p>
            <p> around you on friendoo.</p>
        </div>
        <form th:action="@{/}" method="post">
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Błąd logowania. Upewnij się, że podane dane są poprawne.
            </div>
            <input type="email" name="email" placeholder="Adres email" required>
            <input type="password" name="password" placeholder="Hasło" required>
            <div class="fb-submit">
                <button type="submit" class="login">Zaloguj się</button>
                <a href="#" class="forgot">Zapomniałeś hasła?</a>
            </div>
            <hr>
            <div class="button">
                <a href="#" th:href="@{/registration}">Stwórz nowe konto</a>
            </div>
        </form>
    </div>
</div>
<footer>
    <div class="footer-langs">
        <small>friendoo© 2024</small>
    </div>
</footer>
</body>

</html>
