<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aktywuj swoje konto</title>
    <link rel="stylesheet" href="../styles/styles.css" th:href="@{styles/styles.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="registration-form">

<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">
                <div class="fb-form">
                    <h1>Friendoo</h1>
                </div>

                <div class="text-center mt-4">
                    <h1 class="h2">Aktywuj swoje konto</h1>
                    <p class="lead">
                        Wpisz token aktywacyjny, który otrzymałeś na swój e-mail.
                    </p>
                    <div class="text-left">
                        <a href="/" th:href="@{/}" class="back-arrow">
                            <i class="fa fa-arrow-left"></i> Wróć do strony głównej
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form th:action="@{/activation}" method="post">
                                <div class="form-group">
                                    <label>Token aktywacyjny</label>
                                    <input type="text" name="enteredToken" class="form-control" placeholder="Wpisz token" required />
                                </div>
                                <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                                    <span th:text="${errorMessage}"></span>
                                </div>
                                <input type="hidden" name="userEmail" th:value="${userEmail}" />
                                <div class="text-center mt-3">
                                    <button type="submit" class="btn btn-primary">Aktywuj konto</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-langs">
        <small>friendoo© 2024</small>
    </div>
</footer>

</body>
</html>
