<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/navbar-layout}">
<head>
    <title>Friendoo</title>
    <link rel="stylesheet" href="../styles/user-activity-page-style.css">
</head>
<body>
<main layout:fragment="mainContent">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content" class="content content-full-width">
                    <!-- begin profile -->
                    <div class="profile">
                        <div class="profile-header">
                            <!-- BEGIN profile-header-cover -->
                            <div class="profile-header-cover"></div>
                            <!-- END profile-header-cover -->
                            <!-- BEGIN profile-header-content -->
                            <div class="profile-header-content">
                                <!-- BEGIN profile-header-img -->
                                <div class="profile-header-img">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                                </div>
                                <!-- END profile-header-img -->
                                <!-- BEGIN profile-header-info -->
                                <div class="profile-header-info">
                                    <h4 class="m-t-10 m-b-5" th:text="|${user.firstName} ${user.lastName}|">Imię
                                        Nazwisko</h4>
                                    <p class="m-b-10" style="visibility: hidden;">Opis</p>

                                    <a th:if="${currentUser.id == user.id}"
                                       href="#"
                                       class="btn btn-sm btn-info mb-2">Edytuj profil</a>
                                    <a th:if="${currentUser.id != user.id and !friendsIds.contains(user.id)}"
                                       href="#"
                                       class="btn btn-sm btn-info mb-2">Dodaj znajomego</a>
                                    <a th:if="${currentUser.id != user.id}"
                                       href="#"
                                       class="btn btn-sm btn-info mb-2">Wyślij wiadomość</a>

                                </div>
                                <!-- END profile-header-info -->
                            </div>
                            <!-- END profile-header-content -->
                            <!-- BEGIN profile-header-tab -->
                            <ul class="profile-header-tab nav nav-tabs">
                                <li class="nav-item"><a
                                        th:href="@{'/{firstName}.{lastName}.{id}'(firstName=${user.firstName}, lastName=${user.lastName}, id=${user.id})}"
                                        class="nav-link_">INFORMACJE</a></li>
                                <li class="nav-item"><a
                                        th:href="@{'/{firstName}.{lastName}.{id}/activity'(firstName=${user.firstName}, lastName=${user.lastName}, id=${user.id})}">POSTY</a>
                                </li>
                                <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-photos"
                                                        target="__blank" class="nav-link_">ZDJĘCIA</a></li>
                                <li class="nav-item"><a
                                        href="https://www.bootdey.com/snippets/view/bs4-profile-friend-list"
                                        target="__blank" class="nav-link_ active show">ZNAJOMI</a></li>
                            </ul>
                            <!-- END profile-header-tab -->
                        </div>
                    </div>
                    <!-- end profile -->
                    <!-- begin profile-content -->
                    <div class="profile-content">
                        <!-- begin tab-content -->
                        <div class="tab-content p-0">
                            <!-- begin #profile-post tab -->
                            <div class="tab-pane fade active show" id="profile-post">

                                    <div class="timeline-comment-box outer-comment-box" th:if="${currentLoggedUser.id == user.id}">
                                    <div class="user">
                                        <a th:href="@{'/{firstName}.{lastName}.{id}'(firstName=${currentUser.firstName}, lastName=${currentUser.lastName},
                                                 id=${currentUser.id})}">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar" class="profile-avatar">
                                        </a>
                                    </div>
                                    <div class="input">
                                        <form id="postForm">
                                            <div id="errorDiv"></div>
                                            <div class="input-group">
                                            <textarea id="postContent" class="form-control rounded-corner auto-expand"
                                                      rows="1" placeholder="Co słychać?"></textarea>
                                                <span class="input-group-btn p-l-10">
                                            <button class="btn btn-primary f-s-12 rounded-corner" type="submit">Opublikuj</button>
                                            </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                <!-- begin timeline -->
                                <ul class="timeline" th:if="${!posts.isEmpty()}">
                                    <li th:each="post: ${posts}" th:attr="data-post-id=${post.id}">
                                        <!-- begin timeline-time -->
                                        <div class="timeline-time">
                                            <span class="date" th:text="${post.createdAtDisplay}">Date</span>
                                            <span class="time" th:text="${#temporals.format(post.createdAt, 'HH:mm')}">04:20</span>
                                        </div>
                                        <!-- end timeline-time -->
                                        <!-- begin timeline-icon -->
                                        <div class="timeline-icon">
                                            <a href="javascript:;">&nbsp;</a>
                                        </div>
                                        <!-- end timeline-icon -->
                                        <!-- begin timeline-body -->
                                        <div class="timeline-body">
                                                    <div class="timeline-header">
                                                        <span class="userimage"><img
                                                                src="https://bootdey.com/img/Content/avatar/avatar3.png" alt=""></span>
                                                        <span class="username"><a th:href="@{'/{firstName}.{lastName}.{id}'(firstName=${user.firstName}, lastName=${user.lastName},
                                                         id=${user.id})}" th:text="|${user.firstName} ${user.lastName}|">Imie Nazwisko</a> <small></small></span>

                                                        <div class="post-options-wrapper">
                                                            <button class="comment-options-btn post-options-btn">⋯</button>
                                                            <div class="comment-options-menu post-options-menu">
                                                                <button class="report-post-btn" th:attr="data-post-id=${post.id}">Zgłoś</button>
                                                                <button th:if="${currentLoggedUser.id == post.userAuthorId}" class="edit-post-btn" th:attr="data-post-id=${post.id}">Edytuj</button>
                                                                <button th:if="${editedPostIds.contains(post.id)}" th:attr="data-post-id=${post.id}" class="view-history-btn">Historia edycji</button>
                                                                <button th:if="${currentLoggedUser.id == post.userAuthorId}" class="delete-post-btn" th:attr="data-post-id=${post.id}">Usuń</button>
                                                            </div>
                                                        </div>



                                                    </div>
                                                    <div class="timeline-content">
                                                        <p th:text="${post.content}">
                                                            Post content
                                                        </p>
                                                    </div>

                                            <div class="edit-post-area" style="display: none;">
                                                <div th:attr="id='editErrorDiv-' + ${post.id}" style="color: red;"></div>
                                                <textarea class="edit-post-textarea form-control" rows="3" style="width: 100%; margin-top: 10px;"></textarea>
                                                <div style="margin-top: 10px;">
                                                    <button class="btn btn-success save-post-edit-btn" style="margin-right: 5px;">Zapisz</button>
                                                    <button class="btn btn-secondary cancel-post-edit-btn">Anuluj</button>
                                                </div>
                                            </div>


                                            <div class="timeline-likes">

                                                <div class="stats-right">
                                                    <div class="reaction" th:if="${!post.comments.isEmpty()}">
                                                    <span class="emoji" th:text="|${post.comments.size()} komentarzy|"
                                                          style="background:white; padding:10px; cursor:pointer">Liczba komentarzy</span>


                                                        <div class="reaction-tooltip">
                                                            <div class="reaction-header">
                                                                <strong th:text="|Komentarze (${post.comments.size()})|">Komentarze(0)</strong>
                                                            </div>

                                                            <ul>
                                                                <li th:each="commentAuthor : ${uniqueCommentAuthorsPerPost.get(post.id)}">
                                                                    <div class="user-hover-content">
                                                                        <img class="user-avatar" th:src="@{/img/default_profile_picture.jpg}" alt="avatar"/>
                                                                        <div class="user-info">
                                                                            <a class="user-link"
                                                                               th:href="@{/{firstName}.{lastName}.{id}(firstName=${#strings.toUpperCase(commentAuthor.firstName)},
                                                                                lastName=${#strings.toUpperCase(commentAuthor.lastName)},
                                                                                id=${commentAuthor.id})}"
                                                                               th:text="|${commentAuthor.firstName} ${commentAuthor.lastName}|">
                                                                            </a>
                                                                            <button class="message-btn"
                                                                                    th:if="${currentLoggedUserFriendsIds.contains(commentAuthor.id) and currentLoggedUser.id != commentAuthor.id}">
                                                                                Wyślij wiadomość
                                                                            </button>
                                                                            <button class="add-friend-btn"
                                                                                    th:if="${!currentLoggedUserFriendsIds.contains(commentAuthor.id) and currentLoggedUser.id != commentAuthor.id}">
                                                                                Dodaj znajomego
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="stats">
                                                    <div class="reaction" th:each="entry : ${post.getPostReactionDtoByReactionType()}">
                                                        <span class="emoji" th:text="${entry.key.emoji}">👍</span>
                                                        <div class="reaction-tooltip">
                                                            <div class="reaction-header">
                                                                <strong th:text="|${entry.key.plName} (${entry.value.size()})|">Like(0)</strong>
                                                            </div>
                                                            <ul th:each="reaction : ${entry.value}">
                                                                <li>
                                                                    <div class="user-hover-content">
                                                                        <img class="user-avatar"
                                                                             th:src="@{/img/default_profile_picture.jpg}"
                                                                             alt="avatar"/>
                                                                        <div class="user-info">
                                                                            <a class="user-link"
                                                                               th:href="@{/{firstName}.{lastName}.{id}(firstName=${#strings.toUpperCase(reaction.authorFirstName)},
                                                                  lastName=${#strings.toUpperCase(reaction.authorLastName)},
                                                                  id=${reaction.userAuthorId})}"
                                                                               th:text="|${reaction.authorFirstName} ${reaction.authorLastName}|">
                                                                            </a>
                                                                            <button class="message-btn"
                                                                                    th:if="${currentLoggedUserFriendsIds.contains(reaction.userAuthorId) and currentLoggedUser.id != reaction.userAuthorId}">Wyślij wiadomość</button>
                                                                            <button class="add-friend-btn"
                                                                                    th:if="${!currentLoggedUserFriendsIds.contains(reaction.userAuthorId) and currentLoggedUser.id != reaction.userAuthorId}">Dodaj znajomego</button>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <span class="stats-total"
                                                          th:if="${post.getReactionsCount() gt 0 and post.getReactionsCount() lt 1000}"
                                                          th:text="${post.getReactionsCount()}">
                                    Liczba reakcji
                                    </span>
                                                    <span class="stats-total"
                                                          th:if="${post.getReactionsCount() >= 1000}"
                                                          th:text="${#numbers.formatDecimal(post.getReactionsCount() / 1000.0, 1, 'POINT', 'COMMA')} + 'k'">
                                    Liczba reakcji
                                    </span>

                                                </div>
                                            </div>

                                            <div class="timeline-footer">
                                                <div class="reaction-button-wrapper" th:attr="data-post-id=${post.id}">
                                                    <button class="like-btn">
                                                    <span class="reaction-label"
                                                          th:utext="${!post.isUserPostReactedByCurrentLoggedUserId(currentLoggedUser.id) ?
                                                                '<i class=&quot;fa fa-thumbs-up fa-fw fa-lg m-r-3&quot;></i> Lubię to': post.getUserPostReactionTypeByUserId(currentLoggedUser.id).emoji}">
                                                    </span>
                                                    </button>
                                                    <div class="reaction-picker">
                                                         <span class="reaction-option"
                                                               th:each="reaction : ${T(pl.mateusz.example.friendoo.reaction.ReactionType).values()}"
                                                               th:attr="data-reaction=${reaction.name()}, title=${reaction.plName}"
                                                               th:text="${reaction.emoji}">emoji</span>
                                                    </div>
                                                </div>


                                                <a href="javascript:;" class="m-r-15 text-inverse-lighter comment-trigger"
                                                   th:attr="data-post-id=${post.id}">
                                                    <i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Skomentuj
                                                </a>
                                            </div>

                                            <div class="comment-list" th:id="'comments-' + ${post.id}">

                                                <div class="comment-sorter" style="margin: 10px 0;">
                                                    <label for="sortComments" style="margin-right: 8px;"></label>
                                                    <select id="sortComments" class="form-select form-select-sm" data-post-id="${post.id}"
                                                            style="width: auto; display: inline-block;">
                                                        <option value="oldest" selected>Najstarsze</option>
                                                        <option value="newest">Najnowsze</option>
                                                        <option value="mostPopular">Popularne</option>
                                                    </select>


                                                </div>

                                                <div class="comment-item" th:each="comment : ${post.comments}" th:attr="data-comment-id=${comment.id}">
                                                    <div class="userimage">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
                                                    </div>
                                                    <div class="comment-content-wrapper">
                                                        <div class="timeline-header comment-header">
                                                            <a th:href="@{'/{firstName}.{lastName}.{id}'(firstName=${comment.authorFirstName}, lastName=${comment.authorLastName}, id=${comment.userAuthorId})}"
                                                               th:text="|${comment.authorFirstName} ${comment.authorLastName}|"></a>

                                                            <div class="comment-meta">
                                                                <div class="comment-meta">
                                                                <span class="comment-date"
                                                                th:text="${comment.creationDateDescription}"
                                                                th:title="|${#temporals.format(comment.createdAt, 'dd-MM-yyyy HH:mm')}
                                                                ${comment.editedAt != null ? 'Edytowano: ' + #temporals.format(comment.editedAt, 'dd-MM-yyyy HH:mm') : ''}|">
                                                                    data
                                                                </span>
                                                                </div>

                                                                <div class="comment-options-wrapper">
                                                                    <button class="comment-options-btn">⋯</button>
                                                                    <div class="comment-options-menu">
                                                                        <button class="report-comment-btn" th:attr="data-comment-id=${comment.id}">Zgłoś</button>
                                                                        <button th:if="${currentLoggedUser.id == comment.userAuthorId}" class="edit-comment-btn">Edytuj</button>
                                                                        <button th:if="${currentLoggedUser.id == comment.userAuthorId}" class="delete-comment-btn" th:attr="data-comment-id=${comment.id}">Usuń</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="timeline-content">

                                                            <div th:if="${comment.quotedCommentId != null}" class="quoted-comment-box">
                                                                <a href="javascript:;" class="quote-link" th:attr="data-comment-id=${comment.quotedCommentId}">
                                                                    <div class="quoted-comment-inner">
                                                                        <strong th:text="|${comment.quotedAuthorFirstName} ${comment.quotedAuthorLastName} napisał(a):|"></strong>
                                                                        <blockquote th:text="|&quot;${comment.quotedContent}&quot;|">"Cytowana treść"</blockquote>
                                                                    </div>
                                                                </a>
                                                            </div>

                                                            <p th:text="${comment.content}" class="comment-text">Treść komentarza</p>
                                                            <div class="edit-comment-area" style="display: none;">
                                                                <div th:attr="id='editErrorDiv-' + ${comment.id}" style="color: red;"></div>

                                                                <textarea class="edit-comment-textarea" rows="3"></textarea>
                                                                <div style="margin-top: 10px;">
                                                                    <button class="btn btn-success save-edit-btn">Zapisz</button>
                                                                    <button class="btn btn-success cancel-edit-btn">Anuluj</button>
                                                                </div>
                                                            </div>



                                                            <div class="comment-reactions">
                                                                <div class="reaction" th:each="entry : ${comment.getPostReactionDtoByReactionType()}">
                                                                    <span class="emoji" th:text="${entry.key.emoji}">👍</span>
                                                                    <div class="reaction-tooltip">
                                                                        <div class="reaction-header">
                                                                            <strong th:text="|${entry.key.plName} (${entry.value.size()})|">Like(0)</strong>
                                                                        </div>
                                                                        <ul th:each="reaction : ${entry.value}">
                                                                            <li>
                                                                                <div class="user-hover-content">
                                                                                    <img class="user-avatar" th:src="@{/img/default_profile_picture.jpg}" alt="avatar"/>
                                                                                    <div class="user-info">
                                                                                        <a class="user-link"
                                                                                           th:href="@{/{firstName}.{lastName}.{id}(firstName=${reaction.userAuthorFirstName},
                                                                                            lastName=${reaction.userAuthorLastName}, id=${reaction.userAuthorId})}"
                                                                                           th:text="|${reaction.userAuthorFirstName} ${reaction.userAuthorLastName}|"></a>
                                                                                        <button class="message-btn"
                                                                                                th:if="${currentLoggedUserFriendsIds.contains(reaction.userAuthorId) and currentLoggedUser.id != reaction.userAuthorId}">
                                                                                            Wyślij wiadomość
                                                                                        </button>
                                                                                        <button class="add-friend-btn"
                                                                                                th:if="${!currentLoggedUserFriendsIds.contains(reaction.userAuthorId) and currentLoggedUser.id != reaction.userAuthorId}">
                                                                                            Dodaj znajomego
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                                <span class="stats-total"
                                                                      th:if="${comment.getReactionsCount() gt 0 and comment.getReactionsCount() lt 1000}"
                                                                      th:text="${comment.getReactionsCount()}">Liczba reakcji</span>
                                                                <span class="stats-total"
                                                                      th:if="${comment.getReactionsCount() >= 1000}"
                                                                      th:text="${#numbers.formatDecimal(comment.getReactionsCount() / 1000.0, 1, 'POINT', 'COMMA')} + 'k'">
                                                                    Liczba reakcji
                                                                    </span>
                                                            </div>


                                                            <div class="comment-footer">
                                                                <div class="reaction-button-wrapper"
                                                                     th:attr="data-comment-id=${comment.id}, data-post-id=${post.id}">

                                                                <button class="like-comment-btn">
                                                                     <span class="reaction-label"
                                                                     th:utext="${!comment.isUserPostCommentReactedByCurrentLoggedUserId(currentLoggedUser.id) ?
                                                                        '<i class=&quot;fa fa-thumbs-up fa-fw fa-lg m-r-3&quot;></i> Lubię to' :
                                                                            comment.getUserPostCommentReactionTypeByUserId(currentLoggedUser.id).emoji}">
                                                                    </span>
                                                                    </button>
                                                                    <div class="reaction-picker">
                                                                        <span class="reaction-option"
                                                                    th:each="reaction : ${T(pl.mateusz.example.friendoo.reaction.ReactionType).values()}"
                                                                    th:attr="data-reaction=${reaction.name()}, title=${reaction.plName}"
                                                                    th:text="${reaction.emoji}">emoji</span>
                                                                    </div>
                                                                </div>

                                                                <button class="reply-btn" th:attr="data-comment-id=${comment.id}">
                                                                    <i class="fa fa-reply"></i> Odpowiedz
                                                                </button>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>

                                            <div class="timeline-comment-box" th:attr="data-post-id=${post.id}">
                                                <div class="user">
                                                    <a th:href="@{'/{firstName}.{lastName}.{id}'(firstName=${currentUser.firstName}, lastName=${currentUser.lastName},
                                                 id=${currentUser.id})}">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar" class="profile-avatar">
                                                    </a>
                                                </div>
                                                <div class="input">
                                                    <form class="commentForm">
                                                        <div th:attr="id='errorDiv-post-' + ${post.id}" style="color: red;"></div>
                                                        <div class="input-group">
                                                            <textarea class="commentContent auto-expand form-control rounded-corner" rows="1"
                                                                      placeholder="Napisz komentarz..."></textarea>
                                                            <span class="input-group-btn p-l-10">
                                                     <button class="btn btn-primary f-s-12 rounded-corner" type="submit">Skomentuj</button>
                                                        </span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- end timeline-body -->
                                    </li>
                                    <li>
                                        <!-- begin timeline-icon -->
                                        <div class="timeline-icon">
                                            <a href="javascript:;">&nbsp;</a>
                                        </div>
                                        <!-- end timeline-icon -->
                                        <!-- begin timeline-body -->
                                        <div class="timeline-body">
                                        </div>
                                        <!-- begin timeline-body -->
                                    </li>
                                </ul>
                                <!-- end timeline -->
                                <div class="timeline" th:if="${posts.isEmpty()}">
                                    <p class="text-center">Brak aktywności do wyświetlenia.</p>
                                </div>
                                <!-- end #profile-post tab -->
                            </div>
                            <!-- end tab-content -->
                        </div>
                        <!-- end profile-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteCommentModal" class="modal comment-modal">
        <div class="modal-content">
            <h5>Usuń komentarz</h5>
            <p>Czy na pewno chcesz usunąć ten komentarz? Tej operacji nie można cofnąć.</p>
            <button type="button" class="btn comment-modal-btn" id="confirmDeleteCommentBtn">Usuń</button>
            <button type="button" class="btn comment-modal-btn closeModal">Anuluj</button>
        </div>
    </div>

    <div id="reportCommentModal" class="modal comment-modal">
        <div class="modal-content">
            <h5>Zgłoś komentarz</h5>
            <p>Czy na pewno chcesz zgłosić ten komentarz jako nieodpowiedni?</p>
            <button type="button" class="btn comment-modal-btn" id="confirmReportCommentBtn">Zgłoś</button>
            <button type="button" class="btn comment-modal-btn closeModal">Anuluj</button>
        </div>
    </div>
    <div id="deletePostModal" class="modal comment-modal">
        <div class="modal-content">
            <h5>Usuń post</h5>
            <p>Czy na pewno chcesz usunąć ten post? Tej operacji nie można cofnąć.</p>
            <button type="button" class="btn comment-modal-btn" id="confirmDeletePostBtn">Usuń</button>
            <button type="button" class="btn comment-modal-btn closeModal">Anuluj</button>
        </div>
    </div>

    <div id="editHistoryModal" class="modal comment-modal">
        <div class="modal-content">
            <button class="closeModal" id="closeEditHistoryModal" aria-label="Zamknij modal">&times;</button>
            <h5 class="modal-title">Historia edycji</h5>
            <div id="editHistoryContent"></div>
        </div>

    </div>

    <template id="edit-history-template">
        <div class="edit-history-entry" style="border-bottom: 1px solid #ddd; padding: 10px 0;">
            <p>
                <a class="author-link" href="#" style="font-weight: bold; text-decoration: none; color: #000;"></a>
                - <span class="edit-date"></span>
            </p>
            <p class="edit-content"></p>
        </div>
    </template>


</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>


<template id="comment-template">
    <div class="comment-item">
        <div class="userimage">
            <img src="..." alt="avatar">
        </div>
        <div class="comment-content-wrapper">
            <div class="timeline-header">
                <a class="comment-author-link"></a>
            </div>
            <div class="timeline-content">
                <p class="comment-content"></p>
            </div>
        </div>
    </div>
</template>


</body>
</html>
